#@mainLayout()

    #set($fields = $playerForm.fields)

<div class="container container-aa">
    <div class="container container-a">
        <br/>

        #set($validationInfos = $playerForm.validationResult.fieldMessages)

        #if (($validationInfos ) && ($validationInfos.size() > 0))
            #foreach($validationInfoMapEntry in $validationInfos.entrySet())
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Change a few things up and try submitting
                    again.  $messages.getString($validationInfoMapEntry.key) $messages.getString($validationInfoMapEntry.value.get(0).msgKey)
                </div>
            #end
        #end

        #if ($player.id > 0)
        <form id="changeForm" action="/player/$player.id" method="post" enctype="application/x-www-form-urlencoded">
        #else
        <form id="changeForm" action="/player/new" method="post" enctype="application/x-www-form-urlencoded">
        #end
        <!--<input type="hidden" name="_method" value="put" />-->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="$fields.forename.name">Forename:</label>
                    <input type="text" class="form-control"
                           id="$fields.forename.name"
                           name="$fields.forename.name"
                    value=#if($fields.forename.value)"$fields.forename.value"
            #else "" #end
                placeholder="Max">
            </div>
            <div class="form-group col-md-4">
                <label for="$fields.surname.name">Surname:</label>
                    <input type="text" class="form-control"
                           id="$fields.surname.name"
                           name="$fields.surname.name"
                    value=#if($fields.surname.value)"$fields.surname.value"
            #else "" #end
                placeholder="Mustermann">
            </div>
            <div class="form-group col-md-4">
                <label for="$fields.nickname.name">Nickname:</label>
                    <input type="text" class="form-control"
                           id="$fields.nickname.name"
                           name="$fields.nickname.name"
                    value=#if($fields.nickname.value)"$fields.nickname.value"
            #else "" #end
                placeholder="The Thunder">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="$fields.email.name">Email:</label>
                    <input type="text" class="form-control"
                           id="$fields.email.name"
                           name="$fields.email.name"
                    value=#if($fields.email.value)"$fields.email.value"
            #else "" #end
                placeholder="Max@Mustermann.de">
            </div>

        </div>

        <div class="form-group col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           id="$fields.lokSafe.name"
                           name="$fields.lokSafe.name"
                        #if($loksafe)
                           checked
                        #end
                           value="true"
                    > Loksafe
                </label>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           id="$fields.active.name"
                           name="$fields.active.name"
                        #if($active)
                           checked
                        #end
                           value="true"
                    > Active
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="$fields.password.name">Password</label>
                    <input type="password" class="form-control"
                           id="$fields.password.name"
                           name="$fields.password.name"
                    value=#if($fields.password.value)"$fields.password.value"
            #else "" #end
                placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="$fields.passwordRepeat.name">Repeat password</label>
                    <input type="password" class="form-control"
                           id="$fields.passwordRepeat.name"
                           name="$fields.passwordRepeat.name"
                    value=#if($fields.passwordRepeat.value)"$fields.passwordRepeat.value"
            #else "" #end
                placeholder="Password">
            </div>
        </div>

        <div class="form-group col-md-12">
            <label for="$fields.biography.name">Biography</label>
            <textarea class="form-control" id="$fields.biography.name"
                      placeholder="Your bio"
                      name="$fields.biography.name"
                      rows="4">#if($fields.biography.value)$fields.biography.value#else #end
            </textarea>
        </div>

        <div class="form-group col-md-12">
            #if ($player.id > 0)
                <button id="editButton" type="submit" class="btn btn-primary">Edit Player</button>
            #else
                <button id="editButton" type="submit" class="btn btn-primary">Create Player</button>
            #end

        </div>
    </form>


    </div>
</div>
#end