<html>

    #include("/views/layout.vm")

    <body>
        <div class="container container-aa">
            <div class="container container-a">
                <br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Forname</th>
                            <th>Nickname</th>
                            <th>Surename</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($player in $players)
                            <tr>
                                <td>$player.forename</td>
                                <td>$player.nickname</td>
                                <td>$player.surname</td>
                                <td><a href="/player/$player.id">edit</a> </td>
                            </tr>
                            #end

                        </tbody>
                    </table>


            </div>
        </div>
    </body>

</html>