#@mainLayout()


<script>
    $(function () {

        $("#player").change(function () {
            updatePlayer($(this).val())
        })


        function updatePlayer(id) {
            $(".avatar").attr("src", "/" + id + ".pic");
        }
    });
</script>

<div class="container container-aa">
    <div class="container container-a">
        <form action="/player/uploadImage" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type='file' name='uploaded_file' accept='.jpg,.jpeg,.gif,.png'>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <select class="form-control" id="player" name="player">
                        #foreach($player in $players)
                            <option value="$player.id">$player.forename "$player.nickname" $player.surname</option>
                        #end
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" id="buttonUpload" class="btn btn-primary">Upload</button>
            </div>
        </form>

    </div>
    <div class="row">
        <img class="avatar" src="/${players.get(0).id}.pic"
             onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
    </div>
</div>
#end