#@strippedLayout()

<script>
    $(function () {
        var mouseTimer = null, cursorVisible = true;

        function disappearCursor() {
            mouseTimer = null;
            document.body.style.cursor = "none";
            cursorVisible = false;
        }

        document.onmousemove = function () {
            if (mouseTimer) {
                window.clearTimeout(mouseTimer);
            }
            if (!cursorVisible) {
                document.body.style.cursor = "default";
                cursorVisible = true;
            }
            mouseTimer = window.setTimeout(disappearCursor, 500);
        };

        var webSocket;

        function connectToSocket() {
            webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/update");
            webSocket.onmessage = function (msg) {
                updateMatch(msg);
            };

            webSocket.onclose = function () {
                console.log("websockets connection closed:");
                console.log(webSocket);
                console.log("reconnecting websocket in 5 seconds");
                setTimeout(function () {
                    connectToSocket();
                }, 3000);
            }

            webSocket.onError = function (err) {
                console.log("some error at websocket: " + err);
                conosle.log(webSocket);
                webSocket.close();
            }
        }

        connectToSocket();

        function updateMatch(msg) {
            var data = JSON.parse(msg.data);
            var g1 = data.goalsTeam1;
            var g2 = data.goalsTeam2;

            var kt1 = data.keeperTeam1;
            var st1 = data.strikerTeam1;
            var kt2 = data.keeperTeam2;
            var st2 = data.strikerTeam2;

            var status = data.status;
            var matchtype = data.matchtype;
            var finishable = data.finishable;
            console.log(finishable);
            console.log(typeof finishable);

            updatePlayer("kt1", kt1);
            updatePlayer("st1", st1);
            updatePlayer("kt2", kt2);
            updatePlayer("st2", st2);

            updateStatus(status, matchtype, g1, g2, finishable);
        }

        function updatePlayer(id, player) {
            $("#" + id + " .avatar img").attr("src", "" + player.id + ".pic");
            if (playerExists(player)) {
                $("#" + id + " .avatar").removeClass("invisible");
            } else {
                $("#" + id + " .avatar").addClass("invisible");
            }
            $("#" + id + " .name .fore").text(player.forename);
            $("#" + id + " .name .nick").text(player.nickname);
            if (playerExists(player)) {
                $("#" + id + " .name .nick").removeClass("invisible");
            } else {
                $("#" + id + " .name .nick").addClass("invisible");
            }
            $("#" + id + " .name .sur").text(player.surname);
        }

        function playerExists(player) {
            return player && (player.forename || player.surname || player.nickname)
        }

        function updateStatus(status, matchtype, g1, g2, finishable) {
            $("#main-container").removeClass();
            $("#main-container").addClass("container " + status + " " + matchtype);
            if (finishable) {
                $("#main-container").addClass("finishable");
            }

            switch (status) {
                case "started":
                    setFullOpacity();
                    if (finishable) {
                        $("#messages span").text("FINISH match?");
                    } else {
                        $("#messages span").text("");
                    }
                    $("#goalsTeam1").text(g1);
                    $("#goalsTeam2").text(g2);
                    break;
                case "prematch":
                    calculateOpacity()
                    $("#messages span").text("Select players");
                    break;
                case "cancel_request":
                    $("#messages span").text("CANCEL match? Press OK to cancel");
                    break;
                case "rematch_no":
                    setFullOpacity();
                    $("#messages span").text("Rematch?");
                    $("#goalsTeam1").text("No");
                    $("#goalsTeam2").text("Yes");
                    break;
                case "rematch_yes":
                    setFullOpacity();
                    $("#messages span").text("Rematch?");
                    $("#goalsTeam1").text("No");
                    $("#goalsTeam2").text("Yes");
                    break;
                default:
            }

        }

        function setFullOpacity() {
            $("#kt1").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
            $("#st1").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
            $("#kt2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
            $("#st2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
        }

        function calculateOpacity() {
            if (!$("#kt2 .avatar").hasClass("invisible")) {
                $("#kt2").css("opacity", 1.0).find(".avatar").addClass("box-glow");
                $("#st2").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
                $("#st1").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
                $("#kt1").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
            } else if (!$("#st2 .avatar").hasClass("invisible")) {
                $("#kt2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#st2").css("opacity", 1.0).find(".avatar").addClass("box-glow");
                $("#st1").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
                $("#kt1").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
            } else if (!$("#st1 .avatar").hasClass("invisible")) {
                $("#kt2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#st2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#st1").css("opacity", 1.0).find(".avatar").addClass("box-glow");
                $("#kt1").css("opacity", 0.3).find(".avatar").removeClass("box-glow");
            } else {
                $("#kt2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#st2").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#st1").css("opacity", 1.0).find(".avatar").removeClass("box-glow");
                $("#kt1").css("opacity", 1.0).find(".avatar").addClass("box-glow");
            }
        }

        updateStatus("$match.status", "$matchtype");

        /*
        Keylistner to be able to control game by the browsers keyboard input
         */
        window.onkeydown = function (e) {
            var code = e.keyCode ? e.keyCode : e.which;
            if (code === 37) {
                postEvent("event.control", "previous");
            } else if (code === 39) {
                postEvent("event.control", "next");
            } else if (code === 38) {
                postEvent("event.control", "up");
            } else if (code === 40) {
                postEvent("event.control", "down");
            } else if (code === 13) {
                postEvent("event.control", "button_ok");
            } else if (code === 8) {
                postEvent("event.control", "button_cancel");
            } else if (code === 49) {
                postEvent("event.current", "team_1_raise");
            } else if (code === 81) {
                postEvent("event.current", "team_1_lower");
            } else if (code === 50) {
                postEvent("event.current", "team_2_raise");
            } else if (code === 87) {
                postEvent("event.current", "team_2_lower");
            } else if ("abcdefghijklmnopqrstuvwxyz".indexOf(e.key) != -1) {
                postEvent("event.control", e.key);
            }
        };

        function postEvent(channel, message) {
            $.ajax({
                url: '/dashboard/controller',
                type: 'PUT',
                data: "channel=" + channel + "&message=" + message,
                success: function (data) {
                }
            });
        }
    });
</script>

##<div class="background-container">
##    <div class="white-tile can-blur"></div>
##</div>

<div class="container" id="main-container">

    <div class="background-container">
        <div class="white-tile can-blur"></div>
    </div>

    <div id="messages" class="live-message text-center highlight-text">
        <span></span>
        <img id="REGULAR"
             src="/images/creatematchimages/default.png">
        <img id="DEATH_MATCH_BO3"
             src="/images/creatematchimages/fluffy.png">
        <img id="DEATH_MATCH"
             src="/images/creatematchimages/deathmatch.png">
    </div>

    <div id="match-result" class="live result fade can-blur">
        <div class="background-container">
            <div class="white-tile"></div>
        </div>
        <div class="text goals">
            <span id="goalsTeam1" class="goals-black fade">$match.goalsTeam1</span> <span class="highlight-text">:</span> <span id="goalsTeam2"
                                                                                                                                class="goals-white fade">$match.goalsTeam2</span>
        </div>
    </div>

    <div class="team white can-blur">
        <div class="live-player fade" id="kt1">
            #if($match.keeperTeam1)
                <div class="avatar">
                    <img src="/${match.keeperTeam1.id}.pic"
                         onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore">$match.keeperTeam1.forename</span>
                    <span class="nick">$match.keeperTeam1.nickname</span>
                    <span class="sur">$match.keeperTeam1.surname</span>
                </div>
            #else
                <div class="avatar invisible">
                    <img src="/images/player.jpg" onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore"></span>
                    <span class="nick invisible"></span>
                    <span class="sur"></span>
                </div>
            #end
        </div>
        <div class="live-player fade" id="st1">
            #if($match.strikerTeam1)
                <div class="avatar">
                    <img src="/${match.strikerTeam1.id}.pic"
                         onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore">$match.strikerTeam1.forename</span>
                    <span class="nick">$match.strikerTeam1.nickname</span>
                    <span class="sur">$match.strikerTeam1.surname</span>
                </div>
            #else
                <div class="avatar invisible">
                    <img src="/images/player.jpg" onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore"></span>
                    <span class="nick invisible"></span>
                    <span class="sur"></span>
                </div>
            #end
        </div>
    </div>

    <img class="live-background can-blur" src="/images/table.png"/>

    <div class="manual_wrapper">
        <div id="manual" class="fade"></div>
    </div>

    <div class="team black can-blur">
        <div class="live-player fade" id="st2">
            #if($match.strikerTeam2)
                <div class="avatar">
                    <img src="/${match.strikerTeam2.id}.pic"
                         onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore">$match.strikerTeam2.forename</span>
                    <span class="nick">$match.strikerTeam2.nickname</span>
                    <span class="sur">$match.strikerTeam2.surname</span>
                </div>
            #else
                <div class="avatar invisible">
                    <img src="/images/player.jpg" onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore"></span>
                    <span class="nick invisible"></span>
                    <span class="sur"></span>
                </div>
            #end
        </div>
        <div class="live-player fade" id="kt2">
            #if($match.keeperTeam2)
                <div class="avatar">
                    <img src="/${match.keeperTeam2.id}.pic"
                         onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore">$match.keeperTeam2.forename</span>
                    <span class="nick">$match.keeperTeam2.nickname</span>
                    <span class="sur">$match.keeperTeam2.surname</span>
                </div>
            #else
                <div class="avatar invisible">
                    <img src="/images/player.jpg" onerror="if (this.src != '/images/player.jpg') this.src = '/images/player.jpg';"/>
                </div>
                <div class="name">
                    <span class="fore"></span>
                    <span class="nick invisible"></span>
                    <span class="sur"></span>
                </div>
            #end
        </div>
    </div>
#end