body {
    background-image: url("/images/chalkboard-background.jpg");
    background-color: #404040;
    background-blend-mode: overlay;
}

.content-container{
    padding-top: 56px;
}


input:focus, a:focus, button:focus{
    outline: none;
}


.container-aa {
    margin-top: 15px;
}

.container-a{
    margin-top: 10px;
    border-radius: 10px
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
    background: rgba(64,64,64,0.3);
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e09832;
}

.table>tbody>tr>td{
    border-top: transparent;
}



.panel {
    background-color: transparent;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.match-type-selection-box img{
    width: 250px;
    height: auto;
    padding: 25px;
}


.players-selection-box img{
    width: 200px;
    height: auto;
    padding: 20px;
}

.player-selection-box--large{
    display: block;
}
.player-selection-box--small{
    display: none;
}

@media screen and (max-width: 767px) {
    .match-type-selection-box img{
        width: 125px;
        height: auto;
        padding: 15px;
    }
    .players-selection-box img{
        width: 125px;
        height: auto;
        padding: 15px;
    }

    .player-selection-box--small{
        display: block;
    }
    .player-selection-box--large{
        display: none;
    }
}