body {
    height: 100%;
    padding-top: 50px;
    background-image: url("/images/chalkboard-background.jpg");
    background-color: #404040;
    background-blend-mode: overlay;
    /*color: #E0E0E0;*/
    margin: 0;
}

.container-aa {
    margin-top: 15px;
}

.container-a{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}