<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/ball.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/live.css" rel="stylesheet">



    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <style>
        /* Makes images fully responsive */

        .img-responsive,
        .thumbnail > img,
        .thumbnail a > img,
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            display: block;
            width: 100%;
            height: auto;
        }

        /* ------------------- Carousel Styling ------------------- */

        .carousel-inner {
            border-radius: 15px;
        }

        .carousel-caption {
            background-color: rgba(0,0,0,.5);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            padding: 0 0 10px 25px;
            color: #fff;
            text-align: left;
        }

        .carousel-indicators {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 15;
            margin: 0;
            padding: 0 25px 25px 0;
            text-align: right;
        }

        .carousel-control.left,
        .carousel-control.right {
            background-image: none;
        }


        /* ------------------- Section Styling - Not needed for carousel styling ------------------- */

        .section-white {
            padding: 10px 0;
        }

        .section-white {
            background-color: #fff;
            color: #555;
        }

        @media screen and (min-width: 768px) {

            .section-white {
                padding: 1.5em 0;
            }

        }

        @media screen and (min-width: 992px) {

            .container {
                max-width: 930px;
            }

        }

    </style>

</head>
<body>
    #include("layout.vm")
</body>
