<html>

<html lang="en">
    #include("/views/layout.vm")
    <body>

        <div class="container">
            $playerForm.fields
            <form action="/player" method="post">
                stringPlayerHashMap.get("playerForm").getValidationResult().fieldMessages
                #set($validationInfos = $playerForm.validationResult.fieldMessages)
                test:$validationInfos
                #if($validationInfos.size() > 0)
                    #foreach($validationInfo in $validationInfos)
                        <div class="alert alert-danger" role="alert">
                            <strong>Oh snap!</strong> Change a few things up and try submitting again. + $validationInfo
                        </div>
                    #end
                #end
                $playerForm.fields.forename.validationMessages.severity.styleClass
                <br>
                <br>

                First name:<br>
                <label>
                    <input type="text" name="$playerForm.fields.forename.name" value="$playerForm.fields.forename.value"><br>
                </label>

                Last name:<br>
                <input type="text" name="$playerForm.fields.surname.name" value="$playerForm.fields.surname.value"><br><br>

                Email<br>
                <input type="text" name="$playerForm.fields.email.name" value="$playerForm.fields.email.value"><br><br>

                password<br>
                <input type="text" name="$playerForm.fields.password.name" value="$playerForm.fields.password.value"><br><br>

                repeat password<br>
                <input type="text" name="$playerForm.fields.passwordRepeat.name" value="$playerForm.fields.passwordRepeat.value"><br><br>
                <input type="submit" value="Submit">

            </form>

            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </div>

    </body>
</html>