<html lang="en">
    #include("/views/layout.vm")

<body>

    <div class="container">
        <div id="match-result" class="live result">
            <span>$match.goalsTeam2 : $match.goalsTeam1</span>
        </div>
        <div id="end-message" class="live-message" style="display: none;">
            <span class="message">End match?</span>
            <br/>
            <span class="button green" id="end-button-yes">Yes</span>
            <span class="button red" id="end-button-no">No</span>
        </div>
        <div class="team black">
            BLACK
            <div class="live-player">
                <img class="avatar" src="/images/player.jpg"/>
                <div class="name">$match.keeperTeam2.forename <span class="nick">$match.keeperTeam2.nickname</span> $match.keeperTeam2.surname</div>
            </div>
            #if($match.strikerTeam2)
            <div class="live-player">
                <img class="avatar" src="/images/player.jpg"/>
                <div class="name">$match.strikerTeam2.forename <span class="nick">$match.strikerTeam2.nickname</span> $match.strikerTeam2.surname</div>
            </div>
            #end
        </div>
        <img class="live-background" src="/images/table.png"/>
        <div class="team white">
            WHITE
            <div class="live-player">
                <img class="avatar" src="/images/player.jpg"/>
                <div class="name">$match.strikerTeam1.forename <span class="nick">$match.strikerTeam1.nickname</span> $match.strikerTeam1.surname</div>
            </div>
            #if($match.keeperTeam1)
                <div class="live-player">
                    <img class="avatar" src="/images/player.jpg"/>
                    <div class="name">$match.keeperTeam1.forename <span class="nick">$match.keeperTeam1.nickname</span> $match.keeperTeam1.surname</div>
                </div>
            #end
        </div>
    </div>

</body>