#@mainLayout()

<script>
    $(function () {
        var webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/update");
        webSocket.onmessage = function (msg) {
            updateMatch(msg);
        };

        //webSocket.onclose = function () { alert("WebSocket connection closed") };

        function updateMatch(msg) {
            var data = JSON.parse(msg.data);
            var g1 = data.goalsTeam1;
            var g2 = data.goalsTeam2;

            var t1p1 = data.t1p1;
            var t1p2 = data.t1p2;
            var t2p1 = data.t2p1;
            var t2p2 = data.t2p2;

            console.log(t1p1);
            console.log(t1p2);
            console.log(t2p1);
            console.log(t2p2);

            $("#goalsTeam1").text(g1);
            $("#goalsTeam2").text(g2);

            $("#t1p1 .name").text(t1p1);
            $("#t1p2 .name").text(t1p2);
            $("#t2p1 .name").text(t2p1);
            $("#t2p2 .name").text(t2p2);
        }
    })
</script>

<div class="container">
    <div id="match-result" class="live result">
        <span id="goalsTeam2">$match.goalsTeam2</span> : <span id="goalsTeam1">$match.goalsTeam1</span>
    </div>
    <div id="end-message" class="live-message" style="display: none;">
        <span class="message">End match?</span>
        <br/>
        <span class="button green" id="end-button-yes">Yes</span>
        <span class="button red" id="end-button-no">No</span>
    </div>
    <div class="team black">
        BLACK
        <div class="live-player" id="t2p2">
            <img class="avatar" src="/images/player.jpg"/>
            #if($match.keeperTeam2)
                <div class="name">$match.keeperTeam2.forename ($match.keeperTeam2.nickname) $match.keeperTeam2.surname</div>
            #else
                <div class="name"></div>
            #end
        </div>
        <div class="live-player" id="t2p1">
            <img class="avatar" src="/images/player.jpg"/>
            #if($match.strikerTeam2)
                <div class="name">$match.strikerTeam2.forename ($match.strikerTeam2.nickname) $match.strikerTeam2.surname</div>
            #else
                <div class="name"></div>
            #end
        </div>
    </div>
    <img class="live-background" src="/images/table.png"/>
    <div class="team white">
        WHITE
        <div class="live-player" id="t1p2">
            <img class="avatar" src="/images/player.jpg"/>
            #if($match.strikerTeam1)
                <div class="name">$match.strikerTeam1.forename ($match.strikerTeam1.nickname) $match.strikerTeam1.surname</div>
            #else
                <div class="name"></div>
            #end
        </div>
        <div class="live-player" id="t1p1">
            <img class="avatar" src="/images/player.jpg"/>
            #if($match.keeperTeam1)
                <div class="name">$match.keeperTeam1.forename ($match.keeperTeam1.nickname) $match.keeperTeam1.surname</div>
            #else
                <div class="name"></div>
            #end
        </div>

    </div>
</div>
#end