<html>


<html lang="en">


    #include("/views/layout.vm")
    #set($fields = $matchForm.fields)

    <body>

        <div class="container container-aa">
            <div class="container container-a">

                #set($validationInfos = $seasonForm.validationResult.fieldMessages)

                #if($validationInfos.size() > 0)
                    #foreach($validationInfo in $validationInfos)
                        <div class="alert alert-danger" role="alert">
                            <strong>Oh snap!</strong> Change a few things up and try submitting again. + $validationInfo
                        </div>
                    #end
                #end
                <div class="col-lg-6">
                    <form action="/match" method="post">

                        <div class="form-group">
                            <label for="$fields.name.name">Season-name:</label>
                            <input type="text" class="form-control"
                                   id="$fields.name.name"
                                   name="$fields.name.name"
                                   value="$fields.name.value"
                                   placeholder="Super Season">
                        </div>

                        <label for="sel1">Team 1 Keeper :</label>
                        <select class="form-control" id="sel1" name="">
                            #foreach($player in $players)
                                <option value="$player.id">$player.forename</option>
                            #end
                        </select>

                        <label for="sel1">Team 1 Striker :</label>
                        <select class="form-control" id="sel1" name="">
                            #foreach($player in $players)
                                <option value="$player.id">$player.forename</option>
                            #end
                        </select>

                        <label for="sel1">Team 2 Keeper :</label>
                        <select class="form-control" id="sel1" name="">
                            #foreach($player in $players)
                                <option value="$player.id">$player.forename</option>
                            #end
                        </select>

                        <label for="sel1">Team 2 Striker :</label>
                        <select class="form-control" id="sel1" name="">
                            #foreach($player in $players)
                                <option value="$player.id">$player.forename</option>
                            #end
                        </select>



                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </body>

</html>