#@mainLayout()
<div class="new-match-carousel carousel fade-carousel slide" data-ride="carousel" data-interval=false id="bs-carousel">

    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Choose your Season</h1>
                    <div class="season-selection-box">
                        #foreach($season in $seasons)
                            <h1 class="season-selection"><a id="$season.id">$season.name</a></h1>
                        #end
                    </div>
                </hgroup>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Choose your match type</h1>
                    <div class="match-type-selection-box">
                        <img id="regular" src="https://yt3.ggpht.com/a-/AK162_7qutgNe-gMFOEau_V4Sk5GAue8N8E45Lm7EA=s900-mo-c-c0xffffffff-rj-k-no">
                        <img id="death match" src="https://yt3.ggpht.com/a-/AK162_7qutgNe-gMFOEau_V4Sk5GAue8N8E45Lm7EA=s900-mo-c-c0xffffffff-rj-k-no">
                        <img id="death match bo3" src="https://yt3.ggpht.com/a-/AK162_7qutgNe-gMFOEau_V4Sk5GAue8N8E45Lm7EA=s900-mo-c-c0xffffffff-rj-k-no">
                    </div>
                </hgroup>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="modal fade" id="selectable-player-modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="height: 80%; overflow: scroll">
                        <div class="modal-header">
                            <h5 class="modal-title">Choose Player: <img class="modal-position-image"
                                                                        style="width: 50px; height: auto" src=""></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            #foreach($player in $players)
                                <div class="player-module col-xs-3">
                                    <img style="width: 150px; height: auto"
                                         src="https://www.shareicon.net/download/2015/12/03/681624_man_512x512.png">
                                    <p style="color: black" id="$player.id">$player.forename</p>
                                </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero">
                <hgroup>
                    <h1>Select players</h1>
                    <div class="players-selection-box">
                        <table style="width: 100%" class="selectable-players">
                            <tr>
                                <td>
                                    <div style="text-align: center">
                                        <img data-id="keeperTeam1" data-position="https://image.freepik.com/free-icon/goalkeeper-chasing-the-ball_318-43176.jpg"
                                             data-toggle="modal" id="goalkeeper-white"
                                             src="https://image.freepik.com/free-icon/goalkeeper-chasing-the-ball_318-43176.jpg"/>
                                        <p style="text-align: center; color: green">Keeper [WHITE]</p>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center">
                                        <img data-id="strikerTeam1" data-position="http://downloadclipart.org/do-upload/clipart/2016-07/Football_player_icon.jpg"
                                             data-toggle="modal" id="striker-white"
                                             src="http://downloadclipart.org/do-upload/clipart/2016-07/Football_player_icon.jpg"/>
                                        <p style="text-align: center; color: green">Striker [WHITE]</p>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center">
                                        <img data-id="keeperTeam2" data-position="https://image.freepik.com/free-icon/goalkeeper-chasing-the-ball_318-43176.jpg"
                                             data-toggle="modal" id="goalkeeper-black"
                                             src="https://image.freepik.com/free-icon/goalkeeper-chasing-the-ball_318-43176.jpg"/>
                                        <p style="text-align: center; color: green">Keeper [BLACK]</p>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center">
                                        <img data-id="strikerTeam2" data-position="http://downloadclipart.org/do-upload/clipart/2016-07/Football_player_icon.jpg"
                                             data-toggle="modal" id="striker-black"
                                             src="http://downloadclipart.org/do-upload/clipart/2016-07/Football_player_icon.jpg"/>
                                        <p style="text-align: center; color: green">Strikerw [BLACK]</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <form class="new-match-form" action="/match/new" method="post">
                        <input name="season" id="season" type="hidden" value="">
                        <input name="matchType" id="matchType" type="hidden" value="">
                        <input name="keeperTeam1" id="keeperTeam1" type="hidden" value="">
                        <input name="strikerTeam1" id="strikerTeam1" type="hidden" value="">
                        <input name="keeperTeam2" id="keeperTeam2" type="hidden" value="">
                        <input name="strikerTeam2" id="strikerTeam2" type="hidden" value="">

                        <button style="width: 100%; margin-top: 40px; height: 50px; " type="submit" class="btn btn-success">Create Match</button>
                    </form>
                </hgroup>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#bs-carousel" data-slide="prev"></a>
    <a class="carousel-control right" href="#bs-carousel" data-slide="next"></a>
</div>
#end